In [164]:
import pandas as pd

In [218]:
phish_data = pd.read_json('../data/phishTankData.json')

In [219]:
phish_data['forward_slash_count'] = phish_data["url"].str.count('/')
phish_data['dot_count'] = phish_data["url"].str.count('.')

In [220]:
phish_data['domain'] = phish_data['url'].apply(lambda x: x[:x.find('/',8)])
phish_data['path'] = phish_data['url'].apply(lambda x: x[x.find('/',8):])

In [221]:
phish_data['d_dot_count'] = phish_data['domain'].str.count('[.]')

In [222]:
phish_data['p_dot_count'] = phish_data["path"].str.count('[.]')

In [223]:
phish_data['d_fslash_count'] = phish_data["domain"].str.count('/')

In [224]:
phish_data['p_fslash_count'] = phish_data["path"].str.count('/')

In [225]:
phish_data = phish_data[['url','domain','path','d_dot_count','p_dot_count','d_fslash_count','p_fslash_count']]

In [236]:
phish_data['d_len'] = phish_data['domain'].str.len()
phish_data['p_len'] = phish_data['path'].str.len()
phish_data['count_digits'] = phish_data['domain'].str.count(r'\d')

In [237]:
phish_data.head()

,url,domain,path,d_dot_count,p_dot_count,d_fslash_count,p_fslash_count,d_len,p_len,count_digits
0,http://xploitperbuild.com/outlook365/fresh/err...,http://xploitperbuild.com,/outlook365/fresh/error.php,1,1,2,3,25,27,0
1,http://xploitperbuild.com/outlook365/fresh/pas...,http://xploitperbuild.com,/outlook365/fresh/pass.php,1,1,2,3,25,26,0
2,http://www.createdbymandyb.com/images/bohedi/k...,http://www.createdbymandyb.com,/images/bohedi/koki/,2,0,2,4,30,20,0
3,http://paypal.co.uk.avr2.pw/m/,http://paypal.co.uk.avr2.pw,/m/,4,0,2,2,27,3,1
4,https://schwab.000webhostapp.com/wp-admin/schw...,https://schwab.000webhostapp.com,/wp-admin/schwab/home/step2.php?cmd=login_subm...,2,1,2,4,32,69,3

In [229]:
dmoz_data = pd.read_csv('../data/dmoz.csv')

In [230]:
dmoz_data.head()

,domain,cat_labels_en
0,sdcastroverde.com,Top/World/Galego/regional/Galicia/Lugo/municip...
1,www.232analyzer.com,Top/Computers/Hardware/Test_Equipment/Analyzers
2,zschachwitz-tischtennis.de,Top/World/Deutsch/Sport/ball_Sports/table_tenn...
3,www.penguin.cz,Top/World/Česky/Computers/Software/Operating_s...
4,www.cs-interiors.co.uk,Top/Business/Construction_and_Maintenance/Mate...

In [231]:
dmoz_data['d_dot_count'] = dmoz_data['domain'].str.count('[.]')

In [232]:
dmoz_data['d_fslash_count'] = dmoz_data["domain"].str.count('/')

In [238]:
dmoz_data['d_len'] = dmoz_data['domain'].str.len()
dmoz_data['count_digits'] = dmoz_data['domain'].str.count(r'\d')

In [239]:
dmoz_data.head()

,domain,cat_labels_en,d_dot_count,d_fslash_count,d_len,count_digits
0,sdcastroverde.com,Top/World/Galego/regional/Galicia/Lugo/municip...,1,0,17,0
1,www.232analyzer.com,Top/Computers/Hardware/Test_Equipment/Analyzers,2,0,19,3
2,zschachwitz-tischtennis.de,Top/World/Deutsch/Sport/ball_Sports/table_tenn...,1,0,26,0
3,www.penguin.cz,Top/World/Česky/Computers/Software/Operating_s...,2,0,14,0
4,www.cs-interiors.co.uk,Top/Business/Construction_and_Maintenance/Mate...,3,0,22,0